

body {
	margin: 0;
 	padding: 0;
 	color: #ffffff;
 	border-color: #dddddd;
 	width: 960px;
 	color: #777777;
}
header {
 	font-family: 'Georgia', Times, Times New Roman, serif;
 	/*background-color: #ffffff;*/
 	background-color: white;
 	padding-left: 100px;
 	border-color: #cccccc;
 	color: white;
 }
 hr {
 	clear: left;
 }
 section {
 	/*padding-left: 100px;*/
 	margin: 0;
 	background: url(../images/subtle_white_mini_waves.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*clear: left;*/
	float:left;
	width: 960px;
 }
 aside {
 	width: 270px;
 	float: right;
 }
 footer {
 	background-color: #666666;
 	text-align: center;
 	height: 50px;
 	padding-top: 25px;
 	float: left;
 }
 article {
 	color: #777777;
 }
 nav {
 	float: right;
 	padding-top: 30px;
 	word-spacing: 10px;
 	padding-right: 80px;
 }
 div {
 	background-color: white;
 }
 p {
 	color: #777777;
 	clear: left;
 }
 h3{
 	padding-top: 30px;
 }
 a:link{
 	color: #777777;
 	text-decoration: none;
 }
 .name {
	width: 170px;
	height: 50px;
	text-align: center;
	float: left;
	margin-left: 70px;
	margin-bottom: 0;
	background-color: #4aaaa5;
 }
 .title {
 	color: #4aaaa5;
 }
 .aqua {
 	background-color: #4aaaa5;
 	width: 150px;
 	font-size: 18px;
 	color: #777777;
 	text-align: center;
 }
 /* This resizes the git, linked in, and stacked overflow images */
 .resize {
 	width: 30px;
    height: 30px;
 }
 .section {
 	width: 650px;
 }
 .connect {
 	width: 150px;
 	height: 120px;
 	padding-left: 20px;
 	text-align: center;
 }
